.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
    overflow: hidden;
    margin-left: 23px;
  }
  
  .certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(30.33% - 10px); /* 3 certifications in a row with reduced margin */
    transition: transform 0.2s ease-in-out;
    background-color: burlywood;
  }
  
  .certification:hover {
    transform: scale(1.05); /* Increase size on hover */
    background-color: rgb(224, 154, 103);
    
  }
  
  .certification h1 {
    font-size: 20px; /* Reduced font size for heading */
    margin-bottom: 5px; /* Reduced margin for heading */
  }
  
  .certification h2 {
    font-size: 16px; /* Reduced font size for details */
    margin-bottom: 5px; /* Reduced margin for details */
  }
  
  .certification p {
    font-size: 14px; /* Reduced font size for additional text */
    margin: 5px 0;
  }
  
  /* Add more custom styling as needed */
  @media screen and (max-width: 900px) {
    .certifications-container {
      flex-direction: column;
      width: 90%;
      margin-left: 20px;
    }
  
    .certification {
      width: 93%; /* Take full width on small screens */
      overflow: hidden;
    }
  }
  