/* Shared styles for both dark and light modes */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for mode change */
    background-color: rgb(169, 203, 247);
    overflow: hidden;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }
  
  .nav-links li {
    font-size: 1.07rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links a {
    text-decoration: none !important;
    color: inherit;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
    color: #D2042D;
  }
  
  /* Media Query for Small Screens (e.g., mobile) */
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block; /* Show the menu icon on small screens */
    }
  
    .nav-links {
      display: none; /* Hide the list items */
      flex-direction: column; /* Stack items vertically */
      position: absolute;
      top: 60px; /* Adjust as needed */
      right: 0;
      z-index: 1;
      background-color: rgb(169, 203, 247); /* Blue color for the menu box */
      padding: 10px; /* Add padding for spacing */
      border-radius: 40px; /* 20px border radius */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
      transform: translateX(-100%); /* Hide the menu items off-screen initially */
    }
  
    .nav-links.active {
      display: flex;
      transform: translateX(0); /* Slide in the menu items when active */
    }
  
    .nav-links li {
      font-size: 1rem;
      margin: 5px; /* Add spacing between menu items */
    }
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Style for the close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #D2042D;
    text-decoration: none;
  }
  
  /* Style for the close button hover effect */
  .close-button:hover {
    transform: scale(1.1);
  }
  
  /* Style for the content inside the modal */
  
  /* Media Query for Larger Screens (e.g., desktop) */
  @media screen and (min-width: 769px) {
    .menu-icon {
      display: none; /* Hide the menu icon on larger screens */
    }
  
    .nav-links.active {
      display: flex; /* Show the list items when active */
      transform: translateX(0); /* Keep the menu items visible on larger screens */
    }
  }
  